.h3-input {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-size: 1.5rem;
}

#year-select {
  border: 0.25rem solid var(--color-primary);
  padding: 0.625rem;
  font-size: 1.2rem;
  color: var(--font-secondary);
  width: 6.25rem;
}
