.results-get-all-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.result-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
