
.input-text {
    background-color: white;      
    color: var(--color-tertiary);   
    font-family: var(--font-primary);                
    border: 0.2rem solid var(--color-primary);                 
    margin: 0.5rem;           
    padding: 0.5rem;                 
    width: 10rem;                  
    font-size: 1rem;               
}

