.button-black {
  height: 50px;
  margin: 10px;
  background-color: black;
  color: white;
  font-family: var(--font-secondary);  
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button-yellow {
  height: 50px;
  margin: 10px;
  font-size: 1rem;    
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-family: var(--font-primary);  
  padding: 10px 20px;
  border-radius: 5px;
  border: 0.2rem solid var(--color-primary);   
  cursor: pointer;
  transition: 0.3s;
}

.button-red {
  height: 50px;
  margin: 10px;
  font-size: 1rem;    
  background-color: var(--color-quinary);
  color: var(--color-tertiary);
  font-family: var(--font-primary);  
  padding: 10px 20px;
  border-radius: 5px;
  border: 0.2rem solid var(--color-quinary);   
  cursor: pointer;
  transition: 0.3s;
}

.button-small {
  width: 10rem;
}

.button-large {
  width: 16rem;
}


