.race-edit-main {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
}

.race-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }