.section-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title-text {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-size: 2.3125rem;
  white-space: pre-line;
  line-height: 2rem;
  margin-left: 0.4375rem;
}
